/* .App {
  text-align: center;
} */

/* SPINNER  */
.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #008080;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* HEADER */

.header {
  background-color: #008080;
  color: white;
  padding: 2rem 2rem;
  font-size: 2rem;
}

/* HOME */

.map {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-top: 1rem;
}

.cocktail-description {
  width: 20%;
}
.cocktail-description img {
  height: 70%;
  width: 100%;
  object-fit: contain;
}

.input-search {
  margin-top: 3rem;
  width: 100%;
  text-align: center;
}

.input-search input {
  width: 50%;
  height: 3rem;
  border: solid 2px #008080;
  text-align: center;
}

/* BUTTON */

.letters-buttons {
  margin-top: 2rem;
  text-align: center;
}
.letters-buttons button {
  width: 2%;
  height: 2rem;
  margin-right: 1%;
  background-color: transparent;
  border: #008080 solid 2px;
}
